/* fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;600;700&display=swap");
*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* css variable */
:root {
  --mainWhite: #fff;
  --lightWhite: #fff3f3;
  --secondColor: #f44336;
  --darkGrey: #777;
  --mainTransition: all 0.3s linear;
  --boxShadow: 0 0 20px 0px rgba(0, 0, 0, 0.2);
}
/* body */
body {
  font-family: "Poppins", sans-serif;
  line-height: 1.2;
}
/* utility */
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
P {
  margin-bottom: 1.25rem;
  line-height: 2;
  font-weight: 300;
}
.lead {
  font-size: 1rem;
  margin: 0.7rem 0 2rem;
  color: var(--mainWhite);
}
/* button */
.btn {
  display: inline-block;
  color: var(--mainWhite);
  border: 1px solid var(--mainWhite);
  font-size: 1rem;
  padding: 0.8rem 2.2rem;
  background: transparent;
  position: relative;
  cursor: pointer;
  text-transform: capitalize;
  outline: none;
}
.btn:hover {
  border: 1px solid var(--secondColor);
  background-color: var(--secondColor);
  transition: 1s;
}
.btn__red{
    border: 1px solid var(--secondColor);
    background: transparent;
    color: var(--secondColor);
}
.btn__red:hover{
    color: var(--mainWhite);
}
.title {
  text-transform: capitalize;
  font-size: 2rem;
  font-weight: 600;
}

/* header */
.header {
  min-height: 100vh;
  width: 100vw;
  background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)),
    url("../images/banner.png");
  background-position: center;
  background-size: cover;
  object-fit: contain;
  position: relative;
}
nav {
  display: flex;
  padding: 2% 6%;
  justify-content: space-between;
  align-items: center;
}
nav img {
  width: 150px;
}
.nav__links {
  flex: 1;
  text-align: right;
}
.nav__links ul li {
  display: inline-block;
  padding: 0.5rem 0.8rem;
  font-size: 1.2rem;
  position: relative;
}
.nav__link {
  text-transform: uppercase;
  color: var(--mainWhite);
}
.nav__link:after {
  content: "";
  width: 0%;
  height: 2px;
  background: var(--secondColor);
  display: block;
  margin: auto;
  transition: 0.5s;
}
.nav__link:hover::after {
  width: 100%;
}
nav .fa {
  display: none;
}
/* hero section */
.hero {
  width: 90%;
  color: var(--mainWhite);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.hero__title {
  font-size: 4.3rem;
}
@media (max-width: 768px) {
  .logo {
    padding-top: 8px;
  }
  .hero__title {
    font-size: 2.5rem;
  }
  .lead {
    font-size: 0.8rem;
  }
  .nav__links ul li {
    display: block;
  }
  .nav__links {
    position: absolute;
    background: var(--secondColor);
    height: 100vh;
    width: 200px;
    top: 0;
    right: -200px;
    text-align: left;
    z-index: 2;
    transition: 1s;
  }
  .nav__links ul {
    padding: 1.8rem;
  }
  nav .fa {
    display: block;
    color: var(--mainWhite);
    margin: 10px;
    font-size: 1.1rem;
    cursor: pointer;
  }
}
/* course */
.course {
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 6rem;
}
.course h1 {
  font-size: 2rem;
  font-weight: 600;
  text-transform: capitalize;
}
.course p {
  color: var(--darkGrey);
  font-size: 1rem;
  font-weight: 300;
  line-height: 2;
  padding: 10px;
}
.row {
  margin-top: 5%;
  display: flex;
  justify-content: space-between;
}
.course__col {
  flex-basis: 31%;
  background: var(--lightWhite);
  border-radius: 10px;
  margin-bottom: 5%;
  padding: 1.7rem 0.8rem;
  transition: 0.5s;
}
.course__col h3 {
  text-align: center;
  font-weight: 600;
  margin: 0.8rem 0;
}
.course__col:hover {
  box-shadow: var(--boxShadow);
}
@media (max-width: 768px) {
  .row {
    flex-direction: column;
  }
}
/* campus */
.campus {
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 2.8rem;
}
.campus h1 {
  text-transform: capitalize;
  font-size: 2rem;
  font-weight: 600;
}
.campus__col {
  flex-basis: 32%;
  border-radius: 10px;
  margin-bottom: 1.8rem;
  position: relative;
  overflow: hidden;
}
.campus__col img {
  object-fit: contain;
  width: 100%;
  display: block;
}
.layer {
  background: transparent;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.5s;
}
.layer:hover {
  background: rgba(226, 0, 0, 0.7);
}
.layer h3 {
  width: 100%;
  font-size: 1.8rem;
  font-weight: 500;
  color: var(--mainWhite);
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  text-transform: uppercase;
  margin-bottom: 1rem;
  opacity: 0;
  transition: 0.5s;
}
.layer:hover h3 {
  bottom: 49%;
  opacity: 1;
}
/* facilities */
.facilities {
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 6rem;
}
.facilities__col {
  flex-basis: 31%;
  border-radius: 10px;
  margin-bottom: 1.8rem;
  text-align: left;
  position: relative;
  overflow: hidden;
}
.facilities__col img {
  object-fit: contain;
  width: 100%;
  display: block;
  border-radius: 10px;
}
.facilities__col h3 {
  margin: 1rem 0;
  text-align: left;
}
/* testimonial */
.testimonial {
  width: 80%;
  margin: auto;
  padding-top: 6rem;
  text-align: center;
}
.testimonial__col {
  flex-basis: 48%;
  display: flex;
  border-radius: 10px;
  margin-bottom: 5%;
  text-align: left;
  background: var(--lightWhite);
  padding: 1.4rem;
  cursor: pointer;
}
.testimonial__col img {
  height: 40px;
  margin: 0 30px 0 5px;
  border-radius: 50%;
}
.testimonial__col p {
  padding: 0;
  line-height: 1.5;
}
.testimonial__col h3 {
  margin-top: 15px;
  padding-bottom: 0.8rem;
  text-align: left;
}
.testimonial__col i {
  color: var(--secondColor);
}
@media (max-width: 768px) {
  .testimonial__col img {
    margin: 0 15px 0 0px;
  }
}
/* Call to action */
.cta {
  margin: 6rem auto;
  width: 80%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("../images/banner2.jpg");
  background-position: center center;
  background-size: cover;
  border-radius: 10px;
  text-align: center;
  padding: 6rem 0;
}
.cta h1 {
  color: var(--mainWhite);
  margin-bottom: 2.3rem;
  font-weight: 400;
  padding: 0;
}
@media (max-width: 768px) {
  .cta h1 {
    font-size: 1.5rem;
  }
}
/* footer */
.footer{
    width:100%;
    text-align:center;
    padding:30px 0;
}
.footer h4{
    font-size: 1.8rem;
    margin-bottom: 25px;
    margin-top: 20px;
    font-weight: 600;
}
.icons i{
    color: var(--secondColor);
    margin: 0 13px;
    cursor: pointer;
    padding: 1.1rem 0;
    font-size: 1.2rem;
}
.footer .fa-heart {
    color: var(--secondColor);

}
/* page About page */
.sub__header{
    height:60vh;
    width:100%;
    background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)),
    url("../images/background.jpg");
    background-position: center center;
    background-size: cover;
    object-fit: contain;
    text-align: center;
    color:var(--mainWhite); 
}
.sub__header h1{
    margin-top: 6rem;
    font-size:2.2rem;
    font-weight: 500;
}
/* About us section */
.about__us{
    width: 80%;
    margin: auto;
    padding-top: 80px;
    padding-bottom: 50px;
}
.about__us .btn{
    text-transform: uppercase;
}
.about__col{
    flex-basis: 48%;
    padding: 2rem 0.1rem;
}
.about__col img{
    width: 100%;
    object-fit: contain;
    display: block;
    border-radius: 10px;
}
.about__col h1 {
    padding-top: 0;
    font-weight: 500;
}
.about__col p{
    padding: 15px 0 25px;
}
/* blog Page */
.blog__content{
    width:80%;
    margin: auto;
    padding:60px 0;
}
.blog__left{
    flex-basis: 68%;
    padding-right: 30px;
}
.blog__left  img{
    width: 100%;
    object-fit: contain;
     border-radius: 10px;
}
.blog__left h2{
   margin: 2rem 0;
    color:#222;
    font-weight: 500;
}
.blog__left p{
    color: #999;
    padding: 0;
}
.blog__right{
    flex-basis: 32%;
    text-align: center;
}
.blog__right h3{
    background: var(--secondColor);
    color: var(--mainWhite);
    padding:10px 0;
    border-radius: 5px;
    margin-bottom: 1rem;
}
.blog__right div{
    display:flex;
    align-items: center;
    justify-content: space-between;
    color: #555;
    padding: 8px;
}
.comment__box{
    border: 1px solid #ccc;;
    margin: 3rem 0;
    padding: 0.6rem 1.2rem;
}
.comment__box h3{
    text-align: left;
}
.comment__form input, .comment__form textarea{
    width:100%;
    padding:10px;
    margin: 15px 0;
    border:none;
    outline:none;
    background:#f0f0f0; 
}
.comment__form button{
    margin-bottom: 15px;
}